body {
    background: rgb(42, 42, 42)}

h3 {
    color: rgba(0, 167, 0, 0.8);
}


#logo {
    color: rgba(0, 167, 0, 0.8);
}

.search-bar input {
    border: 1px solid rgba(0, 167, 0, 0.8);
}

.search-bar input[placeholder] {
    color: rgba(0, 167, 0, 0.8);
}

.search-bar button {
    color: #000;
    background-color: rgba(0, 167, 0, 0.8);
}

.box {
    /* border: 1px solid rgba(0, 167, 0, 0.3); */
}
