body {
    /* background: url(../img/trama-rosso-nero-small.jpg) rgba(0,0,0,0.8); */
    background: rgb(42, 42, 42)
}

h3 {
    color: rgba(230, 9, 20, 0.8);
}

#logo {
    color: rgba(230, 9, 20, 0.8);
}

#genre-select {
    border: 2px solid rgba(230, 9, 20, 0.8);
}

.search-bar input {
    border: 2px solid rgba(230, 9, 20, 0.8);
}

.search-bar input[placeholder] {
    color: rgba(230, 9, 20, 0.8);
}

.search-bar button {
    color: #000;
    background-color: rgba(230, 9, 20, 0.8);
}

.box {
    /* border: 1px solid rgba(230, 9, 20, 0.3); */
    border: 2px solid rgb(42, 42, 42);
}
