* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-blend-mode: overlay;
    color: rgba(255,255,255,0.8);
}

h2 {
    /* color: rgba(230, 9, 20, 0.8); */
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

h3 {
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 400;
}

nav {
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-container {
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    /* color: rgba(230, 9, 20, 0.8); */
    font-size: 30px;
    font-weight: 700;
}

.theme button {
    height: 30px;
    width: 60px;
    color: #000;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 5px;
}

.theme #red {
    background-color: rgba(230, 9, 20, 0.8);
}

.theme #green {
    background-color: rgba(0, 167, 0, 0.8);
}

.search-bar input {
    background: rgba(0,0,0,0.9);
    height: 30px;
    width: 200px;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 5px;
    /* border: 1px solid rgba(230, 9, 20, 0.8); */
}

.search-bar input[placeholder] {
    /* color: rgba(230, 9, 20, 0.8); */
}

.search-bar button {
    padding: 0 10px;
    height: 30px;
    font-weight: 700;
    /* color: #000; */
    /* background-color: rgba(230, 9, 20, 0.8); */
    border: none;
    border-radius: 5px;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    padding: 130px 10px 100px 10px;
}

.box-container {
    display: flex;
    padding: 2px;
    flex-basis: calc(100% / 5);
}

.box {
    /* flex-basis: calc(100% / 4); */
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    border-radius: 7px;
    /* border: 1px solid rgba(230, 9, 20, 0.3); */
    padding: 15px;
}

.stars-container {
    display: flex;
    align-items: center;
}

.vote-average {
    display: inline-block;
    line-height: 25px;
    padding-right: 5px;
    padding-top: 2px;
    font-weight: 700;
}

.stars {
    line-height: 25px;
    /* font-size: 25px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
}
